@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
}

p {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.2;
}
